In [9]:
import pandas as pd
df = pd.read_csv('dataset/golden.csv')

In [12]:
df = df[['text', 'is_cont']]
df['is_cont'] = -1
df.to_csv('dataset/golden.csv', index=False)

In [13]:
df

                                                  text  is_cont
0    Love him or loathe him, whether you like his c...       -1
1    HC Extends Arnab‚Äôs Interim Protection in Abetm...       -1
2    Mumbai: HC extends Arnab's interim relief in N...       -1
3    #National: Shiv Sena MLA Pratap Sarnaik had su...       -1
4    #ArnabGoswami, who has denied charges levelled...       -1
..                                                 ...      ...
531  üëÄ #DemiLovato‚Äôs (now deleted) Insta Story... #...       -1
532  The #Hot20Countdown is ON! üî• Who will take thi...       -1
533  Here's everything you need to know about #Aria...       -1
534  #ArianaGrande earns her milestone 30th top-40 ...       -1
535  üîùüîüüíøüåéAPPLE\n1‚É£Positions #ArianaGrande\n2‚É£LifeSu...       -1

[536 rows x 2 columns]